--DROP VIEW VID_VW_FEI_52_R_EXTRA;
CREATE VIEW VID_VW_FEI_52_R_EXTRA
AS
	SELECT 0																									"Folio_Sii"
		,''																										"TpoDocRef"
		,''																										"FolioRef"
		,''																										"FchRef"
		,''																										"CodRef"
		,''																										"RazonRef"
		,''																										"ObjType"
		,0																										"DocEntry"
	  FROM DUMMY;
